In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

# Importing Feature Selection Modesl
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import RFE
from sklearn.model_selection import StratifiedKFold
from sklearn.feature_selection import RFECV
from sklearn.feature_selection import chi2
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectFromModel

# Importing Learning Models
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [3]:
polish_3_year = pd.read_csv("3year.csv")
polish_3_year.shape

(18918, 65)

In [6]:
polish_attr = pd.read_csv("attr_name.csv")
polish_attr

      Attr                                               Name
0    Attr1                          net profit / total assets
1    Attr2                   total liabilities / total assets
2    Attr3                     working capital / total assets
3    Attr4            current assets / short-term liabilities
4    Attr5  [(cash + short-term securities + receivables -...
..     ...                                                ...
59  Attr60                                  sales / inventory
60  Attr61                                sales / receivables
61  Attr62              (short-term liabilities *365) / sales
62  Attr63                     sales / short-term liabilities
63  Attr64                               sales / fixed assets

[64 rows x 2 columns]

In [4]:
sum(polish_3_year.isnull().sum())

0

In [5]:
cols = polish_3_year.columns
polish_3_year[cols[0:5]].describe()

              Attr1         Attr2         Attr3         Attr4         Attr5
count  18918.000000  18918.000000  18918.000000  18918.000000  1.891800e+04
mean       0.002468      0.857092     -0.144444      6.964396 -7.941194e+02
std        0.654671      7.853444      8.418831    390.442807  8.825053e+04
min      -17.692000      0.000000   -479.730000      0.000000 -1.190300e+07
25%       -0.042743      0.390123     -0.082573      0.892630 -9.074700e+01
50%        0.017171      0.637245      0.093448      1.244445 -3.523000e+01
75%        0.087773      0.831361      0.295658      2.155984  2.076275e+01
max       52.652000    480.730000     17.708000  53433.000000  6.854400e+05

In [38]:
Q1 = polish_3_year.quantile(0.25)
Q3 = polish_3_year.quantile(0.75)
IQR = Q3 - Q1

polish_IQR = polish_3_year[~((polish_3_year < (Q1 - 1.5 * IQR)) |(polish_3_year > (Q3 + 1.5 * IQR))).any(axis=1)]
polish_IQR.shape

(948, 65)

In [7]:
from scipy import stats
import numpy as np
z = np.abs(stats.zscore(polish_3_year))

polish_zo = polish_3_year[(z < 3).all(axis=1)]
polish_zo.shape

(17446, 65)

In [8]:
polish_zo = polish_3_year[(polish_3_year < 1000).all(axis=1)]
polish_zo.shape

(5144, 65)

In [11]:
polish_zo["class"].agg("sum")

2899